@model IEnumerable<CoursesApp.Models.CourseUnitModel>

@{
    ViewBag.Title = "Course units" + ViewBag.CourseName;
}


<p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">+ Add Unit</button>
    <input type="hidden" value="@ViewBag.CourseId" id="hdnCourseId" />
</p>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Unit Information</h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="course-name" value="@ViewBag.CourseName">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="course-description" value="@ViewBag.Description"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="AddUnit">Add Unit</button>
            </div>
        </div>
    </div>
</div>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script>
    $('#AddUnit').on('click', function () {
        var courseId = $('#hdnCourseId').val();
        var courseName = $('#course-name').val();
        var courseDescription = $('#course-description').val();
        var unit = {
            Name: courseName,
            Course_Id: courseId,
            Description: courseDescription
        };
        console.log(unit);
        $.ajax({
            url: "/Admin/CourseUnits/Create",
            method: "post",
            data: JSON.stringify(unit),
            contentType: "application/json",
            success: function (result) {
                var saved = result.saved;

                if (saved === true) {
                    window.location.href = "/Admin/CourseUnits?courseId=" + courseId;
                } else {
                    if (result.message !== null && result.message === "exists")
                        bootbox.alert("Unit name is already exists!");
                    else
                        bootbox.alert("An error occurred while adding new unit!");
                }
            },
            error: function (result) {
                console.log(result);
                bootbox.alert(result.responseText);
            }
        })
    })
</script>